@charset "UTF-8"; 

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana , Helvetica , Sans-Serif;
    --fonte-destaque: 'bebas Neue' , 'cursive';
    --fonte-android: 'Android' , 'cursive';

}


*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #c5ebd6;
    font-family: var(--font-padrao)
}

a.externo::after{
    content:  '\1F517';
    
}


header{
    background-image: linear-gradient(to bottom , var(--cor3) , var(--cor4));

    min-height: 150px;
    text-align: center;
    padding-top: 20px;
}

header > p {
    color: white;
    font-family: var(--fonte-destaque) ;
    font-size: 1.2em;
    margin-bottom: 20px;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;


}


header > h1{
    color: white;
    font-family: var(--font-padrao);
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.364);
    
    
}

nav{

    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.344);

}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

nav > a:hover{
    background-color: var(--cor4);
    color: var(--cor5);
    cursor: pointer ;
    transition-duration: 0.5s;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.433);
    background-color: white;

}

main img {
    width: 100%;


}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;

}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android)
    
    
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.5em;
    background-image: linear-gradient(to right ,var(--cor1), transparent);
    text-indent: 30px;
}

main p {
    margin: 15px 15px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;

}
main strong{
    color: var(--cor4);
    font-weight: bold;
    
    padding: 2px 6px;
}

main a {
    background-color: var(--cor1);
    font-weight: bold;
    padding: 2px 6px;
    color: var(--cor5);
}

main a:hover{
    text-decoration: underline;
    color: var(--cor2);
}

div.video{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left:5% ;
    width: 90%;
    height: 90%;

}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.337);
}

aside > ul{
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;

} 

aside > h3 {
    text-align: center;
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0px 0px ;
}
footer{
    
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    background-color: var(--cor4);
    color: yellowgreen;
}

